<a href="https://colab.research.google.com/github/DhruvThakral/Python-Data-Science-Machine-Learning-Course/blob/main/Python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables

In [9]:
#Assigning  values to the variables
name = "John Doe"
age = 30
height = 5.9

Data Types

In [10]:
#Integer
num = 10

#Inbuilt functions and operations for Integers:
print(abs(num)) #Absolute value

10

In [11]:
print(bin(num)) #Binary representation

0b1010

In [12]:
print(hex(num)) #Hexadecimal representation

0xa

In [13]:
print(pow(num,2)) #Power Function (num^2)

100

In [14]:
print(divmod(num,3))   #Quotient and Remainder

(3, 1)

In [15]:
#Float
price = 99.99

#Inbuilt functions and operations for Floats:
print(round(price)) #Rounding

100

In [16]:
print(abs(price))   #absolute value

99.99

In [17]:
print(int(price))   #convert to integer

99

In [18]:
print(float("123.45"))  #convert string to float

123.45

In [19]:
print(price.is_integer()) #check if float is an integer

False

In [20]:
#String
greeting = "Hello, World!"

#Inbuilt functions and operations for String:

print(greeting.lower()) #convert to lowercase

hello, world!

In [21]:
print(greeting.upper()) #convert to uppercase

HELLO, WORLD!

In [22]:
print(greeting.replace("World","Universe")) #replace substring

Hello, Universe!

In [23]:
print(greeting.split(",")) #split string into a list

['Hello', ' World!']

In [24]:
print(greeting.find("World")) #find substring

7

In [25]:
print(len(greeting)) #length of string

13

In [26]:
#List
fruits = ["apple", "banana", "cherry"]

#Inbuilt functions and operations for List:
print(fruits.append("orange")) #add element to the end of the list

None

In [27]:
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [28]:
fruits.extend(["mango", "kiwi"]) #add multiple elements to the end of the list

In [29]:
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'mango', 'kiwi']

In [30]:
fruits.remove("banana") #remove element from the list

In [31]:
print(fruits)

['apple', 'cherry', 'orange', 'mango', 'kiwi']

In [32]:
fruits.pop() #remove last element

'kiwi'

In [33]:
print(fruits)

['apple', 'cherry', 'orange', 'mango']

In [34]:
fruits.sort()   #sort the list

In [35]:
print(fruits)

['apple', 'cherry', 'mango', 'orange']

In [ ]:
print(len(fruits))    #length of the list

In [ ]:
print(fruits.index("cherry"))   #finding index

In [ ]:
print("apple" in fruits)  #checking if element is in the list

In [ ]:
#Tuple
coordinates = (10.0, 20.0)
#Inbuilt functions and operations for Tuple:
print(coordinates[0]) #access element by index

In [ ]:
print(coordinates.count(10.0)) #count occurrences of an element

In [ ]:
print(coordinates.index(20.0)) #find index of an element

In [ ]:
print(len(coordinates)) #Length of a tuple

In [36]:
li = list(coordinates) #convert tuple to list
li

NameError: name 'coordinates' is not defined

In [ ]:
li[1] = "hi"

In [ ]:
li

In [ ]:
coordinates = tuple(li)
coordinates

In [ ]:
# Dictionary
person = {"name": "John", "age": 30}

#Inbuilt functions and operations for Dictionary:
print(person.keys())  #Get all keys

In [ ]:
print(person.values()) #Get all values

In [ ]:
print(person.items()) #Get all key-value pairs

In [ ]:
print(person.get("name")) #Get value for a key

In [ ]:
person.update({"height": 180})  #Update dictionary with another dictionary
person

In [ ]:
person.pop("age") #Remove key-value pair
person

In [ ]:
print(len(person))

In [ ]:
#set
se={1,2,3,4}

In [ ]:
#not allow duplicates
se={1,1,1,1,1}
se

In [ ]:
#length
print(len(se))

In [ ]:
#add
se.add(9)
se

In [ ]:
se.update([5,6,7])
se

In [ ]:
se.remove(5)
se

In [ ]:
#Boolean
is_active = true

#Inbuilt functions and operations for Boolean:
print(int(is_active))   #Convert to integer (1 for True, 0 for False)

In [ ]:
print(bool(0))      #Convert integer to boolean (False)

In [ ]:
print(bool(1))      #Convert integer to boolean (True)

In [ ]:
print(bool("Hello"))    #Convert string to boolean (True)

In [ ]:
print(is_active and False)    #Logical AND

In [ ]:
print(is_active or False)    #Logical OR

In [ ]:
print(not is_active)    #Logical NOT

**Conditionals**

In [ ]:
# Basic if-elif-else statement
age = 20

if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

In [ ]:
# Checking Even or Odd Number
number = 42

if number % 2 == 0:
    print("Even")
else:
    print("Odd")

In [ ]:
#Grade Evaluation
score = 85

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'

**Loops**

In [37]:
# For loop
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [39]:
#Iterating over a string
greeting = "Hello"

for char in greeting:
  print(char)

H
e
l
l
o

In [40]:
#Iterating over a dictionary
person = {"name":"John","age":30,"city":"New-York"}

for key, value in person.items():
  print(f"{key}: {value}")

name: John
age: 30
city: New-York

In [41]:
#Using the `range()` function with a step
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [42]:
#Nested for Loop
for i in range(3):
  for j in range(2):
    print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1

In [43]:
#Using the enumerate() function
fruits = ["apple", "banana", "cherry"]

for i, fruit in enumerate(fruits):
  print(f"Index: {i}, Fruit: {fruit}")

Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry

In [44]:
#While Loop
count = 0
while count < 5:
  print(count)
  count += 1

0
1
2
3
4

In [45]:
#While loop with break
count = 0
while True:
  print(count)
  count += 1
  if count >= 5:
    break

0
1
2
3
4

In [46]:
#While Loop with continue
count = 0
while count < 10:
  count += 1
  if count % 2 == 0:
    continue
  print(count)

1
3
5
7
9

In [47]:
#Using a while loop for Validation
password = ""
while len(password) < 8:
  password = input("Enter a password: ")
  if len(password) < 8:
    print("Password must be at least 8 characters long.")
print("Password Accepted")

Enter a password: 1234567890
Password Accepted